    </body>
    <style>
        footer {
            background-color: slategrey;
            position: absolute;
            bottom: 0;
            width: 100%;

        }
        #name {
            color: #11FFEE;
        }
        .bottomLink {
            font-size: 22px;
            
        }
        .rights {
            color: #11FFEE;
            text-align: right;
            text-transform: capitalize;
            text-decoration: underline;
        }
    </style>
    <footer>
        <h1 id="name">Optio Blue</h1>
        <a href="/services" class="bottomLink">Services</a> <br>
        <a href="/reviews" class="bottomLink">Reviews</a> <br>
        <a href="/contact" class="bottomLink">Contact</a> <br>
        <p class="rights">
            David Aydin <br> 
            Optio Blue <br>
            2022 © All Rights Reserved
        </p>
    </footer>
</html>