    </body>
    <style>
        #footer {
            background-color: darkgray;
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            border-radius: 20px;
        }
        .bottomLink {
            font-size: 12px;
            text-align: center;
        }
        .rights {
            color: blue;
            text-transform: capitalize;
            text-decoration: underline;
            text-align: center;
        }
        th {
            text-decoration: underline;
            font-size: 22px;
            color: darkblue;
        }
    </style>
    <div id="footer">
        <footer>
            <!-- <h1 id="name">Optio Blue</h1>
            <a href="/services" class="bottomLink">Services</a> <br>
            <a href="/reviews" class="bottomLink">Reviews</a> <br>
            <a href="/contact" class="bottomLink">Contact</a> <br> -->

            <table class="bottomLink">
                <th>Optio Blue</th>
                <tr>
                    <td>
                        <a href="/services" class="bottomLink">Services</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/reviews" class="bottomLink">Reviews</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/contact" class="bottomLink">Contact</a>
                    </td>
                </tr>
            </table>
            <p class="rights">
                David Aydin |
                Optio Blue | 
                2022 © All Rights Reserved
            </p>
            
        </footer>
    </div>
</html>