    </body>
    <style>
        #footer {
            background-color: slategrey;
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        #name {
            color: #11FFEE;
        }
        .bottomLink {
            font-size: 12px;
            
        }
        .rights {
            color: #11FFEE;
            text-align: right;
            text-transform: capitalize;
            text-decoration: underline;
        }
    </style>
    <div id="footer">
        <footer>
            <!-- <h1 id="name">Optio Blue</h1>
            <a href="/services" class="bottomLink">Services</a> <br>
            <a href="/reviews" class="bottomLink">Reviews</a> <br>
            <a href="/contact" class="bottomLink">Contact</a> <br> -->

            <table>
                <th>Optio Blue</th>
                <p class="rights">
                    David Aydin |
                    Optio Blue | 
                    2022 © All Rights Reserved
                </p>
                <tr>
                    <td>
                        <a href="/services" class="bottomLink">Services</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/reviews" class="bottomLink">Reviews</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/contact" class="bottomLink">Contact</a>
                    </td>
                </tr>
            </table>
            
        </footer>
    </div>
</html>