<%- include ("partials/head") %>
<div class="dropdown">
  <button class="menu">menu</button>
  <div class="menuLinks">
    <a href="/services">Services</a>
    <a href="/reviews">Reviews</a>
    <a href="/contact">Contact</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <a href="/order">Order</a>
  </div>
</div>
<br />
<p id="message">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quidem
  explicabo. Commodi possimus nostrum rerum recusandae, alias reprehenderit
  mollitia, fugit dolor libero sit earum nemo qui, repudiandae sapiente sequi
  in? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure quis vero,
  voluptate officia minima unde id, quisquam veniam quos obcaecati fuga impedit,
  molestias alias quam itaque deserunt. Eos, ab et? 
</p>
<br />

<h2 id="title"><a href="/services">Services</a></h2>
<div class="Services">
  <div class="service">
    <img
      src="https://images.unsplash.com/photo-1520434901111-8e9bcb42c628?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="blob"
    />
    <h3>Dry Cleaning</h3>
  </div>
  <div class="service">
    <img
      src="https://images.unsplash.com/photo-1517677208171-0bc6725a3e60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="blob"
    />
    <h3>Laundry</h3>
  </div>
  <div class="service">
    <img
      src="https://images.unsplash.com/photo-1578353022142-09264fd64295?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80"
      alt="blob"
    />
    <h3>Alterations</h3>
  </div>
  <div class="service">
    <img
      src="https://images.unsplash.com/photo-1489274495757-95c7c837b101?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80"
      alt="blob"
    />
    <h3>Pressing</h3>
  </div>
  <div class="service">
    <img
      src="https://images.unsplash.com/photo-1605433974949-fa9fadb0c0e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
      alt="blob"
    />
    <h3>Leather</h3>
  </div>
  <div class="service">
    <img
      src="https://images.unsplash.com/photo-1514313996915-89d3aff2b79e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80"
      alt="blob"
    />
    <h3>Fur</h3>
  </div>
  <div class="service">
    <img
      src="https://images.unsplash.com/photo-1487163731010-29462200612c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80"
      alt="blob"
    />
    <h3>Bridal</h3>
  </div>
  <div class="service">
    <img
      src="https://images.unsplash.com/photo-1518816086351-fddbdc9a20d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      alt="blob"
    />
    <h3>Drapes</h3>
  </div>
  <div class="service">
    <img
      src="https://images.unsplash.com/photo-1616627561950-9f746e330187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      alt="blob"
    />
    <h3>Table & Bedding</h3>
  </div>
</div>
<p id="message">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quae quo
  itaque, ullam dicta nemo facere molestias aspernatur deleniti saepe odio, est
  quidem sunt molestiae fugit rem in nisi voluptatum! Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Officiis saepe laborum aliquam soluta laboriosam
  eaque veritatis harum quaerat sit quisquam. Itaque ea quaerat ab aliquam
  deleniti sint autem vero ut! Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Possimus pariatur itaque provident repudiandae, cumque iusto
  illo optio deleniti nisi nulla a dolore voluptas? Vitae, perspiciatis dolores
  numquam vero quaerat maiores? 
</p>
<%- include ("partials/footer") %>
