<%- include ("partials/head") %>
<style>
  #title {
    text-align: center;
  }
  .options {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    color: lemonchiffon;
  }
  form {
    font-size: 24px;
    text-align: center;
  }
</style>

<button><a href="/">Home</a></button>
<h1 id="title">Dry Cleaning Name + LOGO</h1>

<div class="options">
  <button id="email">Sign in with E-Mail</button><br />
  <button id="phone">Sign in with Phone #</button><br />
  <button id="signup"><a href="/signup">Sign Up</a></button><br />
</div>
<script>
  $("#email").click(function () {
    $("#email").append(
      `<div id="signin1">
          <form action="/loggedin?_method=PUT" method="POST">
                <input type="text" name="email" placeholder="E-Mail"><br/>
                <input type="password" name="password" placeholder="password"><br/>
                <input type="submit" name="" value="Sign In" />
            </form>
        </div>`
    );
  });
  $("#phone").click(function () {
    $("#phone").append(
      `<div id="signin2">
          <form action="/loggedin?_method=PUT" method="POST">
            <input type="text" name="phone" placeholder="phone #" /> <br />
            <input type="password" name="password" placeholder="password" /> <br />
            <input type="submit" name="" value="Sign In" />
          </form>
        </div>`
    );
  });
</script>
<%- include ("partials/footer") %>
