<%- include ("partials/head") %>
<button class="homebtn"><a href="/">Home</a></button>
<h1 id="logo">Dry Cleaning Name + LOGO</h1>

<div class="options">
  <button id="email">Sign in with E-Mail</button><br />
  <button id="phone">Sign in with Phone #</button><br />
  <button id="signup"><a href="/signup">Sign Up</a></button><br />
</div>
<script>
  $("#email").click(function () {
    $("#email").append(
      `<div id="signin1">
          <form action="/loggedin?_method=PUT" method="POST">
                <input type="text" name="email" placeholder="E-Mail"><br/>
                <input type="password" name="password" placeholder="password"><br/>
                <input type="submit" name="" value="Sign In" />
            </form>
        </div>`
    );
  });
  $("#phone").click(function () {
    $("#phone").append(
      `<div id="signin2">
          <form action="/loggedin?_method=PUT" method="POST">
            <input type="text" name="phone" placeholder="phone #" /> <br />
            <input type="password" name="password" placeholder="password" /> <br />
            <input type="submit" name="" value="Sign In" />
          </form>
        </div>`
    );
  });
</script>

<details>
  <summary>Sign in with E-Mail</summary>
  <form action="/loggedin?_method=PUT" method="POST">
    <input type="text" name="email" placeholder="E-Mail"><br/>
    <input type="password" name="password" placeholder="password"><br/>
    <input type="submit" name="" value="Sign In" />
  </form>
</details>

<details>
  <summary>Sign in with Phone #</summary>
  <form action="/loggedin?_method=PUT" method="POST">
    <input type="text" name="phone" placeholder="phone #" /> <br />
    <input type="password" name="password" placeholder="password" /> <br />
    <input type="submit" name="" value="Sign In" />
  </form>
</details>

<button id="signup"><a href="/signup">Sign Up</a></button><br />
<%- include ("partials/footer") %>
