<%- include ("partials/head") %>
<style>
  .Services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-content: center;
  }
  .service {
    background-color: #ffd24c;
  }
  .service h3 {
    text-align: center;
    color: #92b4ec;
  }
  .service img {
    max-width: 300px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .service p {
    max-width: 300px;
    text-align: center;
    color: gray;
  }
  h1 {
    color: #ffd24c;
    text-decoration: underline;
    background-color: darkgray;
  }
</style>
<button><a href="/">Home</a></button>
<h1>Services</h1>
<div class="Services">
  <div class="service">
    <h3>Dry Cleaning</h3>
    <img
      src="https://images.unsplash.com/photo-1520434901111-8e9bcb42c628?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="blob"
    />
    <p>
      Dry cleaning is a process that utilizes organic solevents other than water
      to clean clothes, bedding, upholstery and other types of fabrics.
    </p>
  </div>
  <div class="service">
    <h3>Laundry</h3>
    <img
      src="https://images.unsplash.com/photo-1517677208171-0bc6725a3e60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="blob"
    />

    <p>Laundered clothes and linens. Machine wash and press.</p>
  </div>
  <div class="service">
    <h3>Alterations</h3>
    <img
      src="https://images.unsplash.com/photo-1578353022142-09264fd64295?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80"
      alt="blob"
    />
    <p>
      Tailored clothes, suited to an individual. Adjusting clothes to fit a
      particular person's uniquie body shape.
    </p>
  </div>
  <div class="service">
    <h3>Pressing</h3>
    <img
      src="https://images.unsplash.com/photo-1489274495757-95c7c837b101?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80"
      alt="blob"
    />
    <p>
      Removes wrinkles by Steaming and Ironing garmets. Steaming is a blowing
      system where as Pressing rubbes an iron across.
    </p>
  </div>
  <div class="service">
    <h3>Leather</h3>
    <img
      src="https://images.unsplash.com/photo-1605433974949-fa9fadb0c0e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
      alt="blob"
    />
    <p>
      Natural or synthetic substance that helps loosen and remove accumlated
      dirt and grime.
    </p>
  </div>
  <div class="service">
    <h3>Fur</h3>
    <img
      src="https://images.unsplash.com/photo-1514313996915-89d3aff2b79e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80"
      alt="blob"
    />
    <p>
      Process that adds to the longevity of your fur, makes it soft and supple,
      conditions the leather, frees the fur of dust particles that rob your fur
      of its sheen.
    </p>
  </div>
  <div class="service">
    <h3>Bridal</h3>
    <img
      src="https://images.unsplash.com/photo-1487163731010-29462200612c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80"
      alt="blob"
    />
    <p>
      Wedding dress preservation where a series of special cleaning and
      packaging technicques are used to ensure bridal gown styles are retained
      over time.
    </p>
  </div>
  <div class="service">
    <h3>Drapes</h3>
    <img
      src="https://images.unsplash.com/photo-1518816086351-fddbdc9a20d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      alt="blob"
    />
    <p>
      Drapery and textile for decorative purposes can be dry cleaned and pressed
      to bring out the original color and liven rooms once again.
    </p>
  </div>
  <div class="service">
    <h3>Table & Bedding</h3>
    <img
      src="https://images.unsplash.com/photo-1616627561950-9f746e330187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      alt="blob"
    />
    <p>
      Sheets and comforters process in a special cycle that make converters look
      brand new and the sheets crisp and clean.
    </p>
  </div>
</div>
<%- include ("partials/footer") %>
