<%- include ("partials/head") %>
<h1>Sign Up</h1>
<button><a href="/">Home</a></button>

<style>
    #title {
        text-align: center;
    }
    .signup {
        text-align: center;
    }
    p {
       text-align: left;
       
    }
</style>
<h3 id="title">Dry Cleaning Name + LOGO</h3>

<h4>Create your account:</h4>

<form action="/login" method="POST" class="signup">
    <p>first name</p>
    <input type="text" name="firstName" placeholder="First Name"> <br>
    <p>last name</p>
    <input type="text" name="lastName" placeholder="Last Name"> <br>
    <p>phone number</p>
    <input type="number" name="cellphone" placeholder="Phone #"> <br>
    <p>email</p>
    <input type="text" name="email" placeholder="E-Mail"> <br>

    <input type="button" name="cancel" value="Cancel">
    <input type="submit" name="continute" value="Continue">
</form>
<%- include ("partials/footer") %>
