body {
  background-color: skyblue;
}

/* Home Page Drop Down Menu */
.dropdown {
  display: flex;
  justify-content: center;
  border-radius: 800px;
}
.menu {
  display: block;
  border: none;
  border-radius: 100px;
  width: 25%;
  background-color: lightblue;
  color: whitesmoke;
  font-size: 48px;
  cursor: pointer;
  text-align: center;
}
.menuLinks {
  display: none;
  position: fixed;
  background-color: lightblue;
  /* min-width: 300px; */
  width: 20%;
  font-size: 32px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 150;
}
.menuLinks a {
  color: whitesmoke;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 50px;
}

.menuLinks a:hover {
  background-color: #00b8ff;
}
.dropdown:hover .menuLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.dropdown:hover .menu {
  background-color: lightblue;
  position: relative;
  border-radius: 50px;
}
#message {
  position: relative;
  text-align: center;
  background-color: lightblue;
  color: white;
  font-size: 28px;
}

/* Services on Home Page and Service Page */
.Services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  justify-content: center;
  gap: 10px;
  background-color: whitesmoke;
  border-radius: 100px;
  width: 70%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.service {
  background-color: #ffd24c;
  max-width: 300px;
  border-radius: 50px;
}
.service h3 {
  text-align: center;
  color: #92b4ec;
}
.service img {
  max-width: 300px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service p {
  max-width: 300px;
  text-align: center;
  color: gray;
}
#title {
  color: whitesmoke;
  text-align: center;
  background-color: #ffd24c;
  border-radius: 80px;
  width: 15%;
  margin: 0% 0% 5% 0%;
}

/* Login */
.options {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#logo {
  color: lemonchiffon;
}
#signup {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* order pages */

button {
  border-radius: 20px;
}
input {
  border-radius: 20px;
  cursor: pointer;
}
