<%- include ("../partials/head") %>
<style>
  button {
    border-radius: 20px;
  }
</style>
<h1>Order Index Page</h1>
<button><a href="/order/new">Create New Order</a></button>
<ul>
  <% for(let i = 0; i < order.length; i++) { %>
  <li>
    <a href="/order/<%= order[i]._id%>">Order <%=i%></a>
  </li>
  <% } %>
</ul>
<button><a href="/">Back Home</a></button>
<%- include ("../partials/footer") %>
