<%- include ("../partials/head") %>
<h1>All Orders</h1>
<button class="homebtn"><a href="/">Back Home</a></button>
<button class="newbtn"><a href="/order/new">Create New Order</a></button>
<ul>
  <% for(let i = 0; i < order.length; i++) { %>
  <li>
    <a href="/order/<%= order[i]._id%>">Order <%=i%></a>
  </li>
  <% } %>
</ul>

<%- include ("../partials/footer") %>
