<%- include ("../partials/head") %>
<h1>New Order Page</h1>
<form action="/order" method="POST">
  <button class="allOrders"><a href="/order">Back to All Orders</a></button>
  

  <p>Clothing:</p>
  <input type="text" name="clothing" /> <br />
  <p>Quantity:</p>
  <input type="text" name="qty" /> <br />
  <p>Price:</p>
  <input type="text" name="price" /> <br /> <br />
  
  <input type="submit" class="newbtn" value="Create New Order" />
</form>
<%- include ("../partials/footer") %>
