<%- include ("../partials/head") %>
<style>
  input {
    border-radius: 20px;
  }
</style>
<h1>New Order Page</h1>
<form action="/order" method="POST">
  <p>Clothing:</p>
  <input type="text" name="clothing" /> <br />
  <p>Quantity:</p>
  <input type="number" name="qty" /> <br />
  <p>Price:</p>
  <input type="number" name="price" /> <br />
  <input type="submit" value="Create Order" /> <br />
</form>
<%- include ("../partials/footer") %>
